.container {
    -fx-bg-color1: #222831;
    -fx-bg-color2: #202329;
    -fx-bg-bar: rgba(34, 40, 49, 0.6);
    -fx-bg-word: rgba(34, 40, 49, 0.6);
    -fx-font-color: white;
    -fx-bg-input: #161311;
    -fx-bg-btn: #31363F;
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 45%, radius 50%, -fx-bg-color1, -fx-bg-color2);
}

* {
    -fx-text-fill: -fx-font-color;
}

.container .btn {
    -fx-background-radius: 5;
    -fx-padding: 6 18;
    -fx-font-size: 16;
}

.label {
    -fx-effect: dropshadow(three-pass-box, black, 7, 0, 0, 0);
}

.icon-container {
    -fx-effect: dropshadow(gaussian, white, 2, 1, 0, 0);
    -fx-background-color: #35302d;
    -fx-padding: 10;
}

.inputBar {
    -fx-background-color: -fx-bg-input;
    -fx-background-radius: 30;
    -fx-font-size: 20;
}

.inputCont {
    -fx-background-color: -fx-bg-bar;
    -fx-spacing: 20;
}

.labelxd{
    -fx-text-fill: white;
    -fx-background-color: #54957f;
    -fx-background-radius: 5;
}
.btn {
    -fx-text-fill: white;
    -fx-background-color: #54957f;
    -fx-padding: 5 30;
}

.player{
    -fx-background-image: url('../fonts/perfil.jpg');
    -fx-background-size: cover;
}
.category{
    -fx-text-fill: white;

    -fx-background-radius: 5;
}
