@import "background.css";

.container {
    -fx-font-color: white;
    -fx-bg-btn: #31363F;

    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 55%, radius 50%, -fx-bg-color1, -fx-bg-color2);
}

.container-padre {
    -fx-bg-color1: #222831;
    -fx-bg-color2: #202329;

    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 55%, radius 50%, -fx-bg-color1, -fx-bg-color2);
}

* {
    -fx-text-fill: white;
}

.container .btn {
    -fx-background-color: -fx-bg-btn;
    -fx-padding: 8;
}

.container .btn-icon {
    -fx-background-color: -fx-bg-btn;
    -fx-padding: 10;
}

